.mission-vision-section {
  padding: 50px 20px;
  background: rgba(255, 255, 255, 0.125);
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.mission-vision-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.email-link{
  font-size:10px;
}

.card {
  background: linear-gradient(135deg, #0000008e 0%, #0062215b 100%);
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.553);
  transition: transform 0.3s, box-shadow 0.3s;
  opacity: 0;
  transform: translateY(20px);
}

.card h3 {
  color: #f8f8f8db;
  margin-bottom: 15px;
  font-size: 2em;
}

.card p {
  font-size: 1em;
  line-height: 1.6;
  color: #f8f8f8db;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

/* Animation visibility */
.card.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Content Section */
.content {
  width: 80%;
  margin: auto;
  margin-top: 6%;
  padding: 0px 50px;
  line-height: 1.7;
  background: linear-gradient(135deg, #0000008e 0%, #00622162 100%);
  border: 1px solid rgba(161, 161, 161, 0.338);
  border-radius: 14px;
  text-align: center;  
}

.s-1{
  padding: 2% 15% 0% 15%;
}

/* Team Members */
.team {
display: flex;
justify-content: center;
gap: 25px;
flex-wrap: wrap;
margin-top: 1%;
position: relative;
z-index: 1;
}

h2{
  margin-top: 3%;
  margin-bottom: 4%;
}
.member {
background: #e4feee21;
color: rgb(202, 202, 202);
padding: 25px;
text-align: center;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.email{
  color: rgb(202,202,202);
}
/* Roadmap Section */

.roadmap-img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 10% auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


/* Fade Animation */
.fade {
opacity: 0;
transform: translateY(20px);
transition: 0.8s ease-out;
}

.fade.visible {
opacity: 1;
transform: translateY(0);
}

/* Floating Particles Animation */
@keyframes float {
0% { transform: translateY(0); }
100% { transform: translateY(-120px); }
}

@media (max-width: 768px) {
  .s-1 {
      padding: 0;
  }
  .content{
    padding: 5px;
  }
}
