/* THEME COLORS */
:root {
    --green: #10b981;
    --dark-green: #0f9a6b;
    --card-bg: rgba(255, 255, 255, 0.05);
    --card-border: rgba(255, 255, 255, 0.15);
}


/*HERO SECTION */

.hero {
    text-align: center;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 42px;
    color: #ffffff;
}

.hero p {
    font-size: 18px;
    color: #d1d5db;
}

/*FEATURES GRID*/

.features-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 60px 50px;
}

.feature-card {
    background: linear-gradient(135deg, #1a1a1a77 0%, #0a3d2a90 100%);
    border: 1px solid var(--card-border);
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-6px);
    border-color: var(green);
    box-shadow: 0 0 12px rgba(16, 185, 129, 0.4);
}

.icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: var(green);
}

.feature-card h3 {
    margin-bottom: 8px;
    color: var(green);
}

.feature-card p {
    color: #c7d5cf;
}


